{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h1> hosts </h1>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>NO</th>
            <th>Name</th>
            <th>IP</th>
            <th>Action</th>
            <th>Delete</th>
        </tr>
    </thead>

    <!-- body -->
    <tbody>
        {% for host in hosts %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{host.nickname}}</td>
            <td>{{host.ip_address}}</td>
            <td><a href="{{ url_for('process', action='detail', host_id=host.id) }}" class="btn btn-info">DETAIL</a></td>
            <td><a href="{{ url_for('delete_host', host_id=host.id) }}" class="btn btn-danger">DELETE</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> ADD </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">add new host</h4>
      </div>

      <div class="modal-body">
          <div class="row">
              <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(form, form_type="horizontal") }} </div>
          </div>
      </div> <!-- modal body -->

    </div> </div> <!-- modal dialog -->
</div>

{% endblock %}
